/* Mobile */
@media all and (max-width: 480px ) {
    .slider {

        flex-wrap: wrap;

    }
    .slider-img{
        width: 100%;
    }

    p.title-text.font-lato{
        width: 320px;
        margin: 15px auto;
        overflow: hidden;
        flex-wrap: wrap;

    }


}