/* Mobile */
@media all and (max-width: 480px ) {
    .slider {

        flex-wrap: wrap;

    }

    .slider-img {
        width: 100%;
    }

    p.title-text.font-lato {
        width: 320px;
        margin: 15px auto;
        overflow: hidden;
        flex-wrap: wrap;

    }

.item-text-top{
    /*text-align: center;*/
}


    span.yellow-text.text.font-playfair {
        font-size: 25px;
    }

    .item-text-top {
        text-align: center;

    }

    section.item-text {
        padding: 0 10px;
    }

    p.item-text-bottums.font-lato {
        width: 85%;
        margin: 10px auto;
    }

    p.title-text.font-lato {
        width: 100%;
    }

    img.nav.font-playfair {
        width: 35px;
    }

    .working-days {
        width: 100%;

    }

    main.top-text-wrap {
        padding: 0;
        overflow: hidden;
        box-sizing: border-box;
    }

    header {
        padding: 0;

    }
}
@media all and (max-width: 640px) {
    img.nav.font-playfair{
        width: 25px;
    }
    .working-days{
        width: 100%;
    }

}
@media all and (max-width: 750px) {
    .working-days{
        width: 100%;
    }
    span.yellow-text.text.font-playfair {
        font-size: 25px;
    }

    .item-text-top {
        /* padding: 14px 0; */
        text-align: left;

        margin: 70px 0 auto;
    }

    span.yellow-text.text.font-playfair {
        /* margin: 0 auto; */
    }

    .item-text-top {
    }

    p.item-text-bottums.font-lato {
        width: 80%;
    }

    main.top-text-wrap {
        padding: 0;
    }

    header {
        padding: 0;
    }
}
@media all and (max-width: 667px){
.item-text-top{
    text-align: center;
}
}